.conteudo {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;    
}

.grid-conteiner {
    display: grid;
    /* adaptando blocos para que fiquem em colunas Mobile First    
    grid-template-columns: repeat(5, 1fr); */

    grid-template-columns: 1fr;

    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    height: 100px;
    /* cuidado com tamanho fixo somente em alguns casos 
    width: 250px; */
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.vermelha {background-color: rgb(192, 70, 70);}
.verde {background-color: rgb(99, 218, 99);}
.azul {background-color: rgb(115, 115, 236);}
.amarela {background-color: rgb(241, 241, 94);}
.roxa {background-color: rgb(202, 94, 202);}


@media (min-widht: 1024px){
    .conteudo {
        width: 50%;
    }

    .grid-conteiner {
        grid-template-columns: repeat(5, 1fr);

    }
}